<{include file="../public/head.html"}>
<style>
.layui-form-label{width:200px;}
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body my-card">
            <form class="layui-form my-layui-form layui-card-body" lay-filter="filter-form">
                <input type="hidden" name="cpnid" value="" />
                <div class="layui-form-item">
                    <label class="layui-form-label">资质主体名称</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="cpnname" value="">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">监测域名</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="jdomain" value="">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">落地页域名</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="ldomain" value="">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">排序</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="sort" value="100">
                    </div>
                </div>
                
                <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn layui-btn-sm"  lay-submit lay-filter="commit"> 保 存 </button>
                        <button type="button" id="closeBtn" class="layui-btn layui-btn-normal layui-btn-sm"> 取 消 </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
layui.use(['tool','form'], function(){
    var $ = layui.$;
    var form = layui.form;
    var tool = layui.tool;
    var id = tool.getQueryString('id') || '';

    if(Number(id)>0){
        tool.ajaxGet('/mk/getCompanyInfo?id='+id, function(result){
            if(result.state){
                form.val('filter-form',result.data);
            }else{
                layer.msg(re.msg);
            }
        });
        form.render();
    }

    //监听提交
    form.on('submit(commit)', function(data){
        tool.ajaxPost('/mk/addCompanyAction',form.val('filter-form'),function(re){
            // console.log(re);
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                shadeClose: true,
                content: '<p style="margin:15px 30px;">'+re.msg+'</p>',
                time: 2000,
                end:function(){
                    if(re.state == true){
                        closeLayer()
                        parent.window.location.reload();
                    }
                }
            });
        },'json');
        return false;
    });

    $('#closeBtn').on('click',function(){
        closeLayer()
    });

    function closeLayer(){
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index); //再执行关闭
    }
});
</script>
<{include file="../public/foot.html"}>
