<{include file="../public/head.html"}>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto my-layui-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="mgid" value="" placeholder="mgid">
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="mgname" value="" placeholder="主游戏名称">
                    </div>
                </div>
                <div class="layui-inline layui-btn-group">
                    <button type="submit" class="layui-btn layui-btn-sm" lay-submit lay-filter="filter-search"> 筛 选 </button>
                    <button type="submit" class="layui-btn layui-btn-sm layui-btn-normal js-add"> 添 加 </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body my-card">
            <table class="layui-table" id="my-table" lay-filter="filter-table"></table>
            <script type="text/html" id="my-operate">
                <div class="layui-btn-group">
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
                </div>
            </script>
        </div>
    </div>
</div>
<script>
layui.use(['index', 'tool','table'], function(){
    var $ = layui.$;
    var form = layui.form;
    var table = layui.table;
    var tool = layui.tool;

    var contactsType = {
        1:'QQ',
        2:'公众号',
        3:'企业微信'
    }

    table.render({
        elem: '#my-table'
        ,size: 'sm'
        ,url:'/platform/getMgameList'
        ,cols: [[
            {field:'mgid', title: '主游戏ID'}
            ,{field:'mgname', title: '主游戏名称'}
            ,{field:'contacts', title: '联系客服'}
            ,{field:'contacts_type_txt', title: '联系方式'}
            ,{field:'atime',  title: '创建时间'}
            ,{field:'mtime', title: '修改时间'}
            ,{title:'操作', fixed: 'right',align:'center', toolbar: '#my-operate'}
        ]]
        ,page: {
            layout: ['prev', 'page', 'next', 'skip' ,'count']
            ,limit:100
        }
        ,parseData: function(res){
            var list = res.data.list;
            if(list != undefined && list.length>0){
                for(var i=0;i<list.length;i++){
                    list[i].atime = tool.toDateString(list[i].atime);
                    list[i].contacts_type_txt = contactsType[list[i].contacts_type];
                }
            }
            return {
                "code": 0,
                'msg': "获取数据成功！",
                "count": res.data.total,
                "data": res.data.list
            }
        }
        ,done: function(res, curr, count){

        }
    });

    //监听搜索
    form.on('submit(filter-search)', function(data){
        var field = data.field;
        //执行重载
        table.reload('my-table', {
            where: field
        });
    });

    //监听工具条
    table.on('tool(filter-table)', function(obj){
        var data = obj.data;
        if(obj.event === 'del'){
            layer.confirm('真的删除么', function(index){
                del(data);
                obj.del();
                layer.close(index);
            });
        } else if(obj.event === 'edit'){
            add(data);
        } 
    });

    // 添加APP按钮
    $(".js-add").click(function(){
        add();
    })

    // 添加
    function add(edit){
        var api = "/platform/addMgamePage";
        var txt = "添加";
        if(edit){
            api += "?mgid="+edit.mgid;
            txt = "编辑"
        }
        var index = layui.layer.open({
            title: txt,
            type: 2,
            area: ["1px", "1px"],
            content: api
        })
        layui.layer.full(index);
        $(window).on("resize",function(){
            layui.layer.full(index);
        })
    }

    // 删除
    function del(data){
        var mgid = data.mgid;
        tool.ajaxPost('/platform/deleteMgameAction',{'mgid':mgid},function(re){
            layer.open({
                type: 1,
                title:false,
                closeBtn: 0,
                shadeClose: true,
                content:'<p style="margin:15px 30px;">'+re.msg+'</p>',
                time:1000,
            });
        },'json');
    }
});
</script>
<{include file="../public/foot.html"}>
