<{include file="../public/head.html"}>
<style>
/* .layui-form-item .layui-input-inline {width: 160px;} */
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto my-layui-form">
            <div class="layui-form-item">
                <div class="layui-inline layui-btn-group">
                    <button type="submit" class="layui-btn layui-btn-sm layui-btn-normal js-add"> 添 加 </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body my-card">
            <table class="layui-table" id="my-table" lay-filter="filter-table"></table>
            <script type="text/html" id="my-operate">
                <div class="layui-btn-group">
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="auth"><i class="layui-icon layui-icon-edit"></i>授权</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
                </div>
            </script>
        </div>
    </div>
</div>
<script>
    layui.use(['index', 'tool','table'], function(){
        var $ = layui.$;
        var form = layui.form;
        var table = layui.table;
        var tool = layui.tool;

        table.render({
            elem: '#my-table'
            ,size: 'sm'
            ,url:'/admin/getRoleList'
            // ,cellMinWidth: 60
            // ,height: 'full-100'
            ,cols: [[
                {field:'id',  title: 'ID', width: 50}
                ,{field:'display_name', title: '角色名',width: 100}
                ,{field:'atime', title: '添加时间',width: 150}
                ,{field:'mtime', title: '修改时间',width: 150}
                ,{title: '操作', width:250, align:'center', toolbar: '#my-operate'}
            ]]
            ,page: {
                layout: ['prev', 'page', 'next', 'skip' ,'count']
                ,limit:15
            }
            ,parseData: function(res){
                // console.log(res)
                var list = res.data.list;
                if(list != undefined && list.length>0){
                    for(var i=0;i<list.length;i++){
                        list[i].atime = tool.toDateString(list[i].atime);
                    }
                }
                return {
                    "code": 0,
                    'msg': "获取数据成功！",
                    "count": res.data.total,
                    "data": res.data.list
                }
            }
            ,done: function(res, curr, count){

            }
        });
        //监听工具条
        table.on('tool(filter-table)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除么', function(index){
                    del(data);
                    obj.del();
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                add(data);
            } else if(obj.event === 'auth'){
                auth(data)
            }
        });
        // 添加渠道按钮
        $(".js-add").click(function(){
            add();
        })

        function auth(data){
            var api = "/admin/rolePermissionPage/?role_id="+data.id;
            var txt = "授权";
            var index = layui.layer.open({
                title: txt,
                type: 2,
                area: ["1px", "1px"],
                content: api
            })
            layui.layer.full(index);
            $(window).on("resize",function(){
                layui.layer.full(index);
            })
        }

        // 添加渠道
        function add(edit){
            var api = "/admin/addRolePage/";
            var txt = "添加";
            if(edit){
                api += "/?id="+edit.id;
                txt = "编辑"
            }
            var index = layui.layer.open({
                title: txt,
                type: 2,
                area: ["1px", "1px"],
                content: api
            })
            layui.layer.full(index);
            $(window).on("resize",function(){
                layui.layer.full(index);
            })
        }

        // 删除渠道
        function del(data){
            // console.log(data);
            var id = data.id;
            tool.ajaxPost('/admin/deleteRoleAction',{'id':id},function(re){
                // console.log(re)
                layer.open({
                    type: 1,
                    title: false,
                    closeBtn: 0,
                    shadeClose: true,
                    content: '<p style="margin:15px 30px;">'+re.msg+'</p>',
                    time: 1000,
                });
            });
        }

    });
</script>
<{include file="../public/foot.html"}>
