<{include file="../public/head.html"}>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto my-layui-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <div class="layui-input-inline" id="form_date"></div>
                    <div class="layui-input-inline">
                        <select name="pid" lay-search="" lay-filter="pid">
                            <option value="">选择联运商</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select id="mgid" name="mgid" lay-search="">
                            <option value="">请选择主游戏</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="gid" lay-search="" lay-filter="gid">
                            <option value="">选择游戏</option>
                        </select>
                    </div>
                    
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <select name="cid" lay-search="" lay-filter="cid">
                            <option value="">选择渠道</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="uid" value="" placeholder="uid">
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="uname" value="" placeholder="账号">
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="linkid" value="" placeholder="推广链ID">
                    </div>
                </div>
                <div class="layui-inline layui-btn-group">
                    <button type="submit" class="layui-btn layui-btn-sm" lay-submit lay-filter="filter-search"> 筛 选 </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body my-card">
            <table class="layui-table" id="my-table" lay-filter="filter-table"></table>
            <script type="text/html" id="my-operate">
                <div class="layui-btn-group">
                    <a lay-href="/optManage/userInfoPage?uid={{d.uid}}" class="order_log layui-btn layui-btn-primary layui-btn-xs">用户详情</a>
                </div>
            </script>
        </div>
    </div>
</div>
<script>
layui.use(['index','tool','table'], function(){
    var $ = layui.$;
    var form = layui.form;
    var table = layui.table;
    var tool = layui.tool;

    var mgids = tool.getMGameOption()
    var gids = tool.getGameOption()
    var pids = tool.getPartnerOption()
    var cids = tool.getChannelOption();

    var date8,date1;
    var timestamp8,timestamp1;
    var today = new Date()
    timestamp8 = today.getTime()-86400000*7;
    timestamp1 = today.getTime();

    date8 = tool.toDateString(timestamp8,'yyyy-MM-dd')
    date1 = tool.toDateString(timestamp1,'yyyy-MM-dd')
    tool.renderBetweenDate({elem: 'form_date',name: 'date',value:date8+' - '+date1})

    table.render({
        elem: '#my-table'
        ,size: 'sm'
        ,cellMinWidth:100
        ,url:'/optManage/getUserList'
        ,cols: [[
            {field:'uname', title: '用户账号'}
            ,{field:'uid', title: '用户ID'}
            ,{field:'pid_txt', title: '联运商'}
            ,{field:'mgid_txt', title: '主游戏'}
            ,{field:'gid_txt', title: '子游戏',width:120}
            ,{field:'cid_txt', title: '推广渠道'}
            ,{field:'linkid', title: '推广链'}
            ,{field:'reg_ip', title: '注册ip'}
            ,{field:'reg_city', title: '注册城市'}
            ,{field:'reg_province', title: '注册省份'}
            ,{field:'reg_isp', title: '运营商'}
            ,{field:'device_id', title: 'sdk设备ID'}
            ,{field:'active_time', title: '激活时间',width:150}
            ,{field:'reg_time',  title: '注册时间',width:150}
            ,{field:'last_login_time',  title: '最后登陆时间',width:150}
            ,{title:'操作', width:200, align:'center', toolbar: '#my-operate'}
        ]]
        ,page: {
            layout: ['prev', 'page', 'next', 'skip' ,'count']
            ,limit:20
        }
        ,parseData: function(res){
            var list = res.data.list;
            var paytype = res.data.paytype;
            var paystatus = res.data.paystatus;
            if(list != undefined && list.length>0){
                for(var i=0;i<list.length;i++){
                    list[i].pid_txt = pids[list[i].pid] && list[i].pid +'-'+ pids[list[i].pid]['pname']
                    list[i].mgid_txt = mgids[list[i].mgid] && list[i].mgid +'-'+ mgids[list[i].mgid]['mgname']
                    list[i].gid_txt = gids[list[i].gid] && list[i].gid +'-'+ gids[list[i].gid]['gname']
                    list[i].cid_txt = cids[list[i].cid] && list[i].cid +'-'+ cids[list[i].cid]['cname']
                    list[i].active_time =  tool.toDateString(list[i].active_time);
                    list[i].reg_time =  tool.toDateString(list[i].reg_time);
                    list[i].paytime =  list[i].paytime>0 ? tool.toDateString(list[i].paytime):'-';
                    list[i].last_login_time =  list[i].last_login_time>0 ? tool.toDateString(list[i].last_login_time):'-';
                }
            }
            return {
                "code": 0,
                'msg': "获取数据成功！",
                "count": res.data.total,
                "data": res.data.list
            }
        }
        ,done: function(res, curr, count){

        }
    });

    //监听搜索
    form.on('submit(filter-search)', function(data){
        var field = data.field;
        //执行重载
        table.reload('my-table', {
            where: field
        });
    });

    //监听工具条
    table.on('tool(filter-table)', function(obj){
        var data = obj.data;
        if(obj.event === 'detail'){
            funs.detail.call(data)
        } 
    });

    var funs = {
        detail : function(){
            // var url = "/optManage/userInfoPage?uid="+this.uid;
            // var index = layui.layer.open({
            //     title : '用户信息',
            //     type : 2,
            //     content : url
            // })
            // layui.layer.full(index);
        }
    }
  
});
</script>
<{include file="../public/foot.html"}>
